# Ignore docker user files
.ash_history
.bash_history

example1/mysql/*
example1/redis/*

wiki_nginx/nginx/localhost.crt
wiki_nginx/nginx/localhost.key
wiki_nginx/LocalSettings.php
wiki_nginx/mediawiki-*

wiki_lighttpd/localhost.crt
wiki_lighttpd/localhost.key
wiki_lighttpd/LocalSettings.php
wiki_lighttpd/images/*
wiki_lighttpd/sqlite/*

mediawiki/LocalSettings.php
mediawiki/images/*
mediawiki/sqlite/*
