# Ignore docker user files
.ash_history
.bash_history

example1/mysql/*
example1/redis/*

wiki/nginx/localhost.crt
wiki/nginx/localhost.key
wiki/LocalSettings.php
wiki/mediawiki-*.tar.gz
wiki/mediawiki-*.*.*

wiki_lighttpd/localhost.crt
wiki_lighttpd/localhost.key
wiki_lighttpd/LocalSettings.php
wiki_lighttpd/images/*
wiki_lighttpd/sqlite/*

mediawiki/LocalSettings.php
mediawiki/images/*
mediawiki/sqlite/*
